exportPattern("^[[:alpha:]]+")
importFrom('Runuran', 'urnorm')
importFrom("graphics", "par", "text")
importFrom("stats", "aggregate", "coef", "lm", "qf", "runif","na.omit")
importFrom("utils", "tail")
